@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-image: url(nature.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgba(155, 155, 155, 0.268);
  display: flex;
}
/* ........................................................ */
/* left */
.left {
  width: 70%;
  height: 100%;
  color: white;
  display: flex;
  align-items: end;
}
.p1 {
  font-weight: 200;
}
.p2 {
  font-size: 35px;
}
.p3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.p3 .degree {
  width: fit-content;
  font-size: 200px;
  font-weight: 800;
  position: relative;
}
.p3 .degree i {
  font-size: 15px;
  position: absolute;
}
.p4 {
  display: flex;
  gap: 30px;
}
.card .card-value {
  font-size: 50px;
}
/* ........................................................ */
/* right */
.right {
  width: 30%;
  height: 100%;
}
.selectCity {
  width: fit-content;
  height: fit-content;
}
.selectCity input {
  width: 270px;
  padding: 6px 12px 6px 50px;
  float: right;
  outline: none;
  border: none;
  background-color: rgba(5, 5, 5, 0.365);
  color: rgb(255, 255, 255);
  position: relative;
}
.selectCity input::placeholder {
  font-size: 16px;
  color: rgb(90, 90, 90);
}
.selectCity i {
  position: relative;
  left: 35px;
  top: 5px;
  color: rgb(67, 67, 67);
  font-size: 17px;
}
